

.ship
{
  display: flex;
}
.shipcontainer
{
  flex:6;
}
.shipcharts
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  margin-top: 10px;  
}

.shipdetails
{
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
  width:30%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 13px;
}

.shipdetail
{
  margin-left:10%;
  margin-right:10%;
}